* {
  margin: 0;
  padding: 0;
  /* color: black;    */
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

.menu {
  border: 2 solid black;
  /* border-color: transparent; */
  width: 100vw;
  height: 100vh;
  background-image: url("../rasmlar/rasm1.png");
  background-size: cover;
  background-position: center;
  /* margin: 0 170px; */
  text-align: center;
}
.hover:hover {
  border-color: blue;
}
.head {
  background-color: black;
  height: 29px;
  color: white;
  /* width: 1000px; */
}
.header {
  vertical-align: middle;
  text-align: center;
  padding: 5px 0;
}

.navbar {
  background-color: white;
  height: 66px;
  /* border: 2px solid; */
}
.nav {
  display: inline-block;
  background-color: white;
  height: 66px;
}
.nav-in {
  display: inline-block;
  /* margin: 1px 10px; */
}

a img {
  display: inline-block;
  width: 150px;
  margin: 10px 10px;
  vertical-align: middle;
  text-align: center;
}
.nav-in2 {
  display: inline-block;
  /* margin-left: 60px; */
  /* padding: 5px 0px; */
  /* margin: 0px 0px 0px 0px; */
}
.icons {
  display: inline-block;
  margin-left: 300px;
}

.el {
  display: inline-block;
  margin: 5px 10px;
  margin-left: 60px;
  text-align: center;
  vertical-align: middle;
  color: black;
}
.el:hover {
  color: red;
}
.icon1 {
  display: inline-block;
  margin: 10px;
}
.icon2 {
  display: inline-block;
}
.usa {
  padding: 40px 0 0 0;
}
.info {
  margin-top: 20px;
}
.top {
  margin-top: 15px;

  border-radius: 12px;
  padding: 4px 20px;
  background-color: red;
  border-color: transparent;
  color: white;
  border: 1px solid transparent;
  cursor: pointer;
}
.top:hover {
  background-color: white;
  color: red;
  border-color: red;
}
.tagi {
  height: 83px;
  background-color: black;
}
.oq {
  margin: 5px 0px;
  display: inline-block;
  vertical-align: top;
}
.kul {
  margin: 5px 0px;
  display: inline-block;
  vertical-align: middle;
}
.oq1 {
  margin: 5px 0;
  margin-left: 100px;
  margin-right: 80px;
}
.matn {
  margin-top: 42px;
  background-color: white;
  height: 193px;
}
.katta {
  color: black;
  text-align: center;
  font-size: 32px;
}
.kichik {
  color: black;
  font-size: 15px;
  max-width: 500px;
  text-align: center;

  margin-left: 450px;
}
.karta1 {
  margin: 20px;
}
.right {
  display: inline-block;
  background-image: url("../rasmlar/surat1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 500px;
  height: 500px;
  text-align: center;
  margin-left: 220px;
}
.left {
  display: inline-block;
  background-image: url("../rasmlar/surat2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 500px;
  height: 500px;
  text-align: center;
  margin-left: 20px;
}
.shop {
  display: inline-block;
  color: white;

  font-size: 25px;
}
.stock {
  color: #fff;
  vertical-align: middle;
  margin: 15px 0;
  font-size: 18px;
}
.info1 {
  width: 100vw;
  height: 100vh;
  background-image: url("../rasmlar/surat3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.high {
  padding: 44px 50px 0 0;
  text-align: center;
  font-size: 15px;
}
.big {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  padding: 11px 0 0 0;
}
.lot {
  font-size: 15px;
  max-width: 400px;
  text-align: center;
  margin-left: 500px;
  padding: 16px 0 0 0;
}
.buton {
  margin: 11px;
  text-align: center;
  border-radius: 14px;
  padding: 5px 30px;
  border-color: transparent;
  background-color: rgb(255, 74, 50);
  color: #fff;
}
.but {
  margin-left: 590px;
}
.buton:hover {
  border-color: transparent;
  color: rgb(255, 74, 50);
  background-color: #fff;
  cursor: pointer;
}
.img {
  display: inline-block;
}
.img1 {
  display: inline-block;
  width: 400px;
  height: 300px;
  margin: 10px 10px 0 0;
  margin-left: 60px;
}
.img2 {
  display: inline-block;
  width: 400px;
  height: 300px;
}
.im1,
.im2,
.im3 {
  display: inline-block;
}
.text0 {
  font-size: 25px;
  margin: 20px 15px;
}
.text1 {
  display: inline-block;
  max-width: 400px;

  margin-left: 15px;
}
.im3 {
  /* margin-bottom: 300px; */
  vertical-align: top;
}
.shopn {
  font-size: 15px;
  padding: 5px 20px;
  border-radius: 14px;
  border-color: transparent;
  background-color: rgb(255, 74, 50);
  color: #fff;
  margin-left: 15px;
  margin-top: 55px;
  cursor: pointer;
}
.shopn:hover {
  background-color: #fff;
  color: rgb(255, 74, 50);
  border-color: rgb(255, 74, 50);
}
.card123 {
  display: inline-block;
  background-image: url("../rasmlar/surat6.png");
  width: 33vw;
  height: 380px;
  background-position: center;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
}
.card124 {
  display: inline-block;
  background-image: url("../rasmlar/surat7.png");
  width: 33vw;
  height: 380px;
  background-position: center;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
}
.card125 {
  display: inline-block;
  background-image: url("../rasmlar/Rectangle\ \(5\).png");
  width: 32vw;
  height: 380px;
  background-position: center;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
}
.bigger {
  font-size: 25px;
  color: #fff;
  line-height: 30px;
  margin-top: 160px;
}
.title {
  font-size: 18px;
  color: #fff;
  line-height: 24px;
}
.light {
  text-align: center;
  margin-top: 160px;
}
.line {
  display: inline-block;
  color: rgb(1, 1, 1);
  height: 3px;
  width: 50px;
}
.video {
  display: inline-block;
  height: 540px;
  width: 300px;
  margin: 30px 140px;
}
.big1 {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
}
.qismlar {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  width: 190px;
  height: 190px;
  margin: 60px 0 0 0;
  /* border: 2px dotted rgb(167, 167, 167); */
}
.div1 {
  margin: 40px 0 60px 0;
}
.text-red {
  text-align: center;
  color: rgb(255, 74, 50);
}
.red {
  text-align: center;
  display: inline-block;
  color: rgb(255, 74, 50);
}
.black {
  display: inline-block;
  text-align: center;
}
.grey {
  color: rgba(0, 0, 0, 0.3);
}
.box-grey {
  color: rgba(41, 44, 61, 0.34);
  height: 66px;
  width: 100vw;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.3);
}
.boosted-icons {
  display: flex;
  background-color: black;
  height: 308px;
  width: 100vw;
}
.revs1 {
  padding: 0 0 0 0;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 25px 62px;
}
.more {
  color: #fff;
  display: inline-block;
}
.soz {
  color: #fff;
  margin-top: 30px;
}
