* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

.card {
  background-color: #da002b;
  height: 50px;
  margin: 100px 0;
  width: 3000px;
  display: inline-block;
}
.items1 {
  display: inline-block;
  margin-left: 70px;
  background-color: #da002b;
  vertical-align: middle;
  cursor: pointer;
}
.items2 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 230px;
  cursor: pointer;
}
.items3 {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  cursor: pointer;
}
.item1 {
  display: inline-block;
  font-size: 15px;
  background-color: white;
  color: #da002b;
  border-radius: 6px;
  border-color: white;
  vertical-align: middle;
  text-align: left;
}
.item2 {
  font-size: 15px;
  background-color: #da002b;
  color: white;
  border-radius: 6px;
  border-color: white;
  vertical-align: middle;
  text-align: left;
}
.item {
  display: inline-block;
  border-radius: 6px;
  margin: 5px;
  vertical-align: middle;
}
.select-info {
  color: rgb(255, 255, 255);
  background-color: #da002b;
  border-color: #da002b;
  border: none;
  margin: 17px;
  text-align: left;
  cursor: pointer;
  margin-left: 70px;
}
.select-info:hover {
  background-color: white;
  color: black;
  border: none;
}
.item1:hover {
  background-color: #da002b;
  color: white;
  border-radius: 6px;
}
.item2:hover {
  background-color: white;
  color: #da002b;
}
.item3 {
  font-size: 15px;
  background-color: white;
  color: #da002b;
  border-radius: 6px;
  border-color: white;
  vertical-align: middle;
}
.item3:hover {
  background-color: #da002b;
  color: white;
}
.item4 {
  color: white;
  margin-left: 15px;
}
.item4:hover {
  color: #eecfff;
}
.item7 {
  color: #f4b3c0;
  text-align: right;
}
.item8 {
  color: #f4b3c0;
  text-align: right;
}
.item9 {
  color: #f4b3c0;
  text-align: right;
}
.item7:focus {
  color: white;
}
.item8:focus {
  color: white;
}
.item9:focus {
  color: white;
}
.item6 {
  font-size: 15px;
  background-color: #da002b;
  color: white;
  border-radius: 6px;
  border-color: white;
  vertical-align: middle;
}
.item6:hover {
  background-color: white;
  color: #da002b;
}
.item5 {
  color: white;
  font-size: 20px;
}
.item5:hover {
  color: #f4b3c0;
}
